
##.......... Telegram section ............

# households: telegram subscribed userids, space separated
households="111111111 222222222"

# token: telegram bot token
token="333333333:abcdefgABCDEFG_abcdefgABCDEFGabcdefg"

# pull_timeout: telegram bot pull timeout in seconds
pull_timeout=300

# delay_timeout: delay in seconds for message processing
delay_timeout=10


##.......... Language section ............

# language: pick of available languages: "en"
language="en"


##............ Dependency section .............

# nodejs_bin_path: nodejs path when not installed as package
nodejs_bin_path=""